<div class="container">
    <h1>Add Rental</h1>
    <div>
        <label for="totalCost">Rental ID :</label>
        <input id="totalCost" type="text"  [(ngModel)]="rental.rentalId">
    </div>
    <div>
        <label for="rentalDate">Rental Date:</label>
        <input id="rentalDate" type="datetime-local" placeholder="Rental Date" [(ngModel)]="rental.rentalDate">
    </div>
    <div>
        <label for="returnDate">Return Date:</label>
        <input id="returnDate" type="datetime-local" placeholder="Return Date" [(ngModel)]="rental.returnDate">
    </div>
    <div>
        <label for="dueDate">Due Date:</label>
        <input id="dueDate" type="datetime-local" placeholder="Due Date" [(ngModel)]="rental.dueDate">
    </div>
    <div>
        <label for="totalCost">Total Cost:</label>
        <input id="totalCost" type="text" [(ngModel)]="rental.totalCost">
    </div>
    <div>
        <input type="button" value="Add Rental" (click)="addRental()">
    </div>
</div>

